<div *ngIf="infections" class="infection-section">
  <div class="infection-title">
    <span>Infections</span>
    <span class="infection-buttons-right">
      <button mat-flat-button *ngIf="staffType === 'Doctor'" (click)="infect()">Add Infection Record</button>
    </span>
  </div>
  <table mat-table [dataSource]="infections" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.startDate }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.endDate }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="infectEdit(row)" matRipple></mat-row>


  </table>
</div>
