.infection-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.infection-section {
  padding-top: 1.5rem;
}

.infection-buttons-right {
  float: right;
}

.infection-buttons-right > button {
  background-color: #2255A2;
  color: #FFFFFF;
  margin-left: 0.5rem;
}
