<div class="location-section">
  <div class="location-title">
    <span>Location History</span>
    <span class="location-buttons-right">
      <button mat-flat-button (click)="openNewLocationDialog()">
        Add Location Record
      </button>
    </span>
  </div>

  <table mat-table [dataSource]="locations" class="mat-elevation-z8">
    <ng-container matColumnDef="locationName">
      <mat-header-cell mat-header-cell *matHeaderCellDef
        >Location Name</mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.locationName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <mat-header-cell mat-header-cell *matHeaderCellDef
        >Start Date</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        {{ element.dataObj.startDate }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <mat-header-cell mat-header-cell *matHeaderCellDef
        >End Date</mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{
        element.dataObj.endDate
      }}</mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="['locationName', 'startDate', 'endDate']"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: ['locationName', 'startDate', 'endDate']"
      (click)="openEditLocationDialog(row.dataObj)"
      matRipple
    ></mat-row>
  </table>
</div>
