.location-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.location-section {
  padding-top: 1.5rem;
}

.location-buttons-right {
  float: right;
}

.location-buttons-right > button {
  background-color: #2255a2;
  color: #ffffff;
  margin-left: 0.5rem;
}
